<%# Mount point cho React (browse map, ADR-001). Ví dụ: <%= render "shared/map_react_mount" %> trong view trang bản đồ. %>
<div id="map-root" class="fixed inset-0 z-0 min-h-[50vh]" data-turbo-permanent></div>
